div {
  display: flex;
}
.clock-page {
  background: #414141;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clock-button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  background: #ccc;
  cursor: pointer;
}

.clock-button:hover{
  background: #eee;
}

.Countdown-display{
  display: flex;
  flex-direction: column;
}
.timerbtn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.timerbtn button{
  padding: 5px;
  margin: 5px;
  text-align: center;
  border-radius: 50%;
  outline: none;
}

.laps{
 
}